@tailwind base;
@tailwind components;
@tailwind utilities;

.error-not{
    display: flex;
    margin:  0 auto;
    padding: 20px;
    font-size: 30px;
    color: red;
    align-items: center;
    justify-content: center;
}